<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mx-auto w-auto">
        <li class="dropdown nav-item">
            <a aria-expanded="false" aria-haspopup="true" class="font-weight-bold logo-font mr-5 nav-link text-black" data-toggle="dropdown" href="#" id="all-products-link">
                All products
            </a>
            <div aria-labelledby="all-products-link" class="border-0 dropdown-menu">
                <a class="dropdown-item" href="">
                    By price
                </a>
                <a class="dropdown-item" href="">
                    By rating
                </a>
                <a class="dropdown-item" href="">
                    By category
                </a>
                <a class="dropdown-item" href="">
                    All products
                </a>
            </div>
        </li>
        <li class="dropdown nav-item">
            <a aria-expanded="false" aria-haspopup="true" class="font-weight-bold logo-font mr-5 nav-link text-black" data-toggle="dropdown" href="#" id="clothing-link">
                Clothing
            </a>
            <div aria-labelledby="clothing-link" class="border-0 dropdown-menu">
                <a class="dropdown-item" href="">
                    Activewear &amp; essentials
                </a>
                <a class="dropdown-item" href="">
                    Jeans
                </a>
                <a class="dropdown-item" href="">
                    Shirts
                </a>
                <a class="dropdown-item" href="">
                    All clothing
                </a>
            </div>
        </li>
        <li class="dropdown nav-item">
            <a aria-expanded="false" aria-haspopup="true" class="font-weight-bold logo-font mr-5 nav-link text-black" data-toggle="dropdown" href="#" id="homeware-link">
                Homeware
            </a>
            <div aria-labelledby="homeware-link" class="border-0 dropdown-menu">
                <a class="dropdown-item" href="">
                    Bed &amp; bath
                </a>
                <a class="dropdown-item" href="">
                    Kitchen &amp; dining
                </a>
                <a class="dropdown-item" href="">
                    All homeware
                </a>
            </div>
        </li>
        <li class="dropdown nav-item">
            <a aria-expanded="false" aria-haspopup="true" class="font-weight-bold logo-font mr-5 nav-link text-black" data-toggle="dropdown" href="#" id="specials-link">
                Special offers
            </a>
            <div aria-labelledby="specials-link" class="border-0 dropdown-menu">
                <a class="dropdown-item" href="">
                    New arrivals
                </a>
                <a class="dropdown-item" href="">
                    Deals
                </a>
                <a class="dropdown-item" href="">
                    Clearance
                </a>
                <a class="dropdown-item" href="">
                    All specials
                </a>
            </div>
        </li>
    </ul>
</div>